h2 {
    color: black;
    font-size: 32px;
}
table, th, tr, td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    font-size: 20px;
}
th {
    background: gainsboro;
    font-size: 20px;
}
form#user {
    border: 1px solid;
    padding: 15px;
    display: table;
    margin-right: 15px;
    font-size: 18px;
}
input#name,
input#surname,
input#age,
input#email {
    font-size: 18px;
    margin-left: 20px;
    float: right;
}
input.back {
    margin-left: 15px;
}